.home .feature {
    flex-basis: 25%;
    max-width: 25%;
}
.home {
    max-width: 1200px;
    display:flex;
    flex-direction:column;
}
.home .features {
  min-height:500px;
  display:flex;
  align-content: center;
  text-align: center;
}
.theme-default-content:not(.custom) {
    max-width: 1200px;
}
.page-nav {
    max-width: 1200px;
}